<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-cadas.css" type="text/css" media="screen" />
    <title>Cadastro de novos moradores</title>
</head>


<body>
    <main>

        <div class="box">

            <div class="card">
                <h1>Cadastro de novos moradores</h1>

                <div class='label-float'>
                    <label for=usuario>Nome Completo: <br></label>
                    <input type='text' id='nome' placeholder="">
                </div>

                <div class='label-float'>
                    <label for=usuario>Bloco: <br></label>
                    <input type='text' id='bloco' placeholder="">
                </div>

                <div class='label-float'>
                    <label for=usuario>Apartamento: <br></label>
                    <input type='text' id='Apartamento' placeholder="">
                </div>

                <div class='label-float'>
                    <label for=usuario>Email: <br></label>
                    <input type='text' id='email' placeholder="">
                </div>

                <div class='label-float'>
                    <label for=usuario>Data de Nascimento: <br></label>
                    <input type='text' id='dataNascimento' placeholder="">
                </div>

                <div class='label-float'>
                    <label for=usuario>Data de Aquisição do Apartamento:<br></label>
                    <input type='text' id='telefone' placeholder="">
                </div>

                <div class='label-float'>
                    <label for=usuario>Telefone/Celular: <br></label>
                    <input type='text' id='dataNascimento' placeholder="">
                </div>

                <div class='label-float'>
                    <label for=usuario>CPF: <br></label>
                    <input type='number' id='cpf' placeholder="">
                </div>                


                <div class="justify-center">
                    <button>Cadastrar</button>
                </div>

                <div class="justify-center">
                    <hr>
                </div>

            </div>


</body>

